<div id="<%= dom_id challenge %>" class="p-2 bg-gray-300">
  <div class="text-lg">
    <%= challenge.description %>
  </div>
  <% if action_name != "show" %>
    <%= link_to "Start Challenge", challenge, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
